.k { color: #006bf0; } /* Keyword (light) */
.k { color: #0050b4; } /* Keyword */
.kc { color: #0050b4; } /* Keyword.Constant */
.kd { color: #0050b4;  } /* Keyword.Declaration */
.kn { color: #0050b4; } /* Keyword.Namespace */
.kp { color: #0050b4 } /* Keyword.Pseudo */
.kr { color: #0050b4;  } /* Keyword.Reserved */
.kt { color: #158c00 } /* Keyword.Type */

.c { color: #808080; } /* Comment */
.cm { color: #808080; } /* Comment.Multiline */
.c1 { color: #808080;  } /* Comment.Single */
.cp { color: #b40007 } /* Comment.Preproc */
.cs { color: #7300b4;  } /* Comment.Special */
/* MUST FIX GitLexer to not use Comment.Special */

.n { color: #000000; } /* Name */
.nb { color: #19177C } /* Name.Builtin (to match Name) */
.na { color: #7300b4 } /* Name.Attribute */
.nc { color: #7300b4; } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #7300b4 } /* Name.Decorator */
.ni { color: #c85000;  } /* Name.Entity */
.ne { color: #b40007;  } /* Name.Exception */
.nf { color: #7300b4 } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #7300b4;  } /* Name.Namespace */
.nt { color: #0050b4;  } /* Name.Tag */
.nv { color: #000000 } /* Name.Variable */

.o { color: #0050b4 } /* Operator */
.ow { color: #0050b4  } /* Operator.Word */

.l { color: #c85000 } /* Literal (used in preproc) */
.m { color: #c85000 } /* Literal.Number */
.mf { color: #c85000 } /* Literal.Number.Float */
.mh { color: #c85000 } /* Literal.Number.Hex */
.mi { color: #c85000 } /* Literal.Number.Integer */
.mo { color: #c85000 } /* Literal.Number.Oct */
.il { color: #c85000 } /* Literal.Number.Integer.Long */

.s { color: #c85000 } /* Literal.String */
.sb { color: #c85000 } /* Literal.String.Backtick */
.sc { color: #c85000 } /* Literal.String.Char */
.sd { color: #c85000; } /* Literal.String.Doc */
.s2 { color: #c85000 } /* Literal.String.Double */
.se { color: #c85000;  } /* Literal.String.Escape */
.sh { color: #c85000 } /* Literal.String.Heredoc */
.si { color: #c85000;  } /* Literal.String.Interpol */
.sx { color: #c85000 } /* Literal.String.Other */
.sr { color: #c85000 } /* Literal.String.Regex */
.s1 { color: #c85000 } /* Literal.String.Single */
.ss { color: #c85000 } /* Literal.String.Symbol */

.gd { color: #A00000 } /* Generic.Deleted */
.ge { } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; } /* Generic.Prompt */
.gs { } /* Generic.Strong */
.gu { color: #800080; } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */

.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #00ff00 } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */

.w { } /* Text.Whitespace */
.err { border: 1px solid #FF0000 } /* Error */
