.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #f2dede;
 }

.table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ebccd1;
}

.aparece {
    display: inline;
    visibility: visible;
}

.desaparece {
    display: none;
}

.noshow {
	visibility: hidden;
}

.show {
	visibility: visible;
	font-weight: bold;
}

.sred {
	color: red;
}

.sgreen {
	color: green;
	font-weight: bold;
}


#subset_lines, #random_lines
{
    display:inline;
}